body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    max-width: 900px; /* Just to provide a maximum width */
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center; /* Center main content horizontally */
    align-items: flex-start; /* Align items at the top vertically */
}

.content {
    flex: 1; /* Take remaining space */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

.steg {
    margin-bottom: 20px; /* Adjust spacing between steps and grading scale */
}

.steg li {
    margin-bottom: 10px;
}

.steg a {
    color: #007BFF;
    text-decoration: none;
}

.steg a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultat {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    background: #e0f7fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#karakter-skala {
    width: 30%; 
    margin-left: 20px; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#karakter-skala p {
    margin-bottom: 10px;
    font-weight: bold;
}

#karakter-skala ul {
    list-style-type: none;
    padding: 0;
}

#karakter-skala li {
    margin-bottom: 10px;
}
